<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/librerias.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Administrar categorias</h1>
                <div class="text-center">
                    <p class="title">Aquí podrás administrar las categorías</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Que estas buscando</h2>
            <div class="team">
                <div class="row mb-5">
                    <div class="col-md-4">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                                Categoria
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>Loops</button>
                                <button ngbDropdownItem>Librerías</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>
                                Instrumento
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>Guitarra</button>
                                <button ngbDropdownItem>Guiro</button>
                                <button ngbDropdownItem>Parcusion</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-round">Buscar <i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>
