@media (max-width: 500px){
  .fuenteResponsive {
    font-size: 9.5vw;
    font-family: 'monoton';
    color: #f96332;
  }
}

@media (min-width: 501px){
  .fuenteResponsive {
    font-size: 4vw;
    font-family: 'monoton';
    color: #f96332;
  }
}


