<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
             style="background-image: url('assets/img/musicoCallejero.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Esto es</h1>
                <h1 class="fuenteResponsive">BambucoLoops</h1>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">¿Quiénes somos?</h2>
                    <h5 style="text-align: justify;">
                        Bambucoloops es una empresa que surge de la pasión por la música y el deseo de fomentar el
                        talento de los estudiantes del conservatorio del Tolima y rescatar un género musical que
                        identifica a la región. Nos enorgullece ofrecer una plataforma que permite a los músicos jóvenes
                        mostrar su talento y recibir una compensación económica por sus habilidades. Nos comprometemos a
                        brindarles a nuestros clientes una experiencia única y emocionante mientras apoyamos la
                        educación musical en nuestra comunidad. En Bambucoloops, estamos orgullosos de nuestra
                        dedicación a la excelencia musical y de nuestro compromiso con la justicia social a través de
                        oportunidades equitativas para los músicos emergentes.
                    </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/inicio1.jpg')">
                            <!-- Primera imagen a la izquierda -->
                            <p class="blockquote blockquote-primary">"El bambuco se canta y se baila con el lenguaje del
                                amor"
                                <br>
                                <br>
                                <small>-Maestro Dagoberto Guzmán</small>
                                <br>
                                <small>2023</small>
                            </p>
                        </div>
                        <!-- Segunda imagen a la izquierda del artículo -->
                        <div class="image-container" style="background-image: url('assets/img/inicio3.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- Primera imagen a la derecha, encima del artículo -->
                        <div class="image-container image-right"
                             style="background-image: url('assets/img/inicio2.jpg')"></div>
                        <h3>¿Por qué Bambuco?</h3>
                        <p style="text-align: justify;">Escogimos el género musical del bambuco por su importancia cultural y su rica historia en
                            Colombia. El bambuco es un género musical tradicional que se originó en la región andina del
                            país, y ha sido una parte integral de la cultura colombiana desde hace siglos. A través de
                            su melodía y letras, el bambuco cuenta historias de amor, desamor y la vida cotidiana de
                            las personas. En Bambucoloops, estamos comprometidos con el rescate y promoción de este
                            género musical, y creemos que es una forma importante de preservar la cultura y las
                            tradiciones de nuestro país. Al elegir el bambuco como el género principal de nuestra
                            empresa, esperamos no solo promover su belleza y riqueza musical, sino también fomentar un
                            mayor interés y apreciación por la cultura colombiana.
                        </p>
                        <p style="text-align: justify;">
                            Creemos que es esencial preservar y promover este género musical tradicional, y estamos
                            comprometidos con su rescate. Nuestro objetivo es proporcionar a los productores de música
                            herramientas creativas para incorporar elementos andinos en sus producciones, ya sea para
                            agregar texturas únicas o para crear un ambiente auténtico. Esperamos que al usar nuestras
                            samples y librerías de bambuco, los productores puedan experimentar y explorar nuevas formas
                            de expresión musical mientras contribuyen a la preservación de la cultura colombiana. En
                            Bambucoloops, estamos comprometidos con la excelencia musical y la promoción de la rica
                            historia y patrimonio de nuestro país.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Aquí está nuestro equipo</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/perfilMoshi.jpg" alt="Thumbnail Image"
                                 class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Miguel Rendón</h4>
                            <p class="category text-primary">Productor</p>
                            <p style="text-align: justify">A sus 28 años, Miguel Ángel, más conocido
                                como Moshi Producer, es un
                                productor musical de la ciudad de Ibagué, con enfoques en la música urbana moderna y
                                alternativa.<br>
                                Comenzó su carrera en el mundo de la producción a sus 14 años como un hobby, el cual
                                con el tiempo se volvería su profesión.<br>
                                En sus inicios, producía música electrónica, pero con el tiempo fue encontrando amor en
                                la música comercial, como el reguetón, el trap y el rock. Ahora es uno de los
                                productores más influyentes de la ciudad y cuenta con una proyección bastante
                                prometedora.</p>
                            <!--                                <a href="#">links</a> para que las personas puedan seguirlos fuera del sitio.</p>-->
                            <a href="https://www.instagram.com/moshiproducer/" target="_blank" class="btn btn-primary btn-icon btn-round">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.youtube.com/c/MoshiProducer" target="_blank" class="btn btn-primary btn-icon btn-round">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/perfilJohan.jpg" alt="Thumbnail Image"
                                 class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Johan Villamíl</h4>
                            <p class="category text-primary">Productor</p>
                            <p style="text-align: justify">Músico ibaguereño, especializado en
                                instrumentos de cuerda, con conocimientos en instrumentos de viento y percusión, técnico
                                en producción audio-digital y música andina/colombiana. <br>
                                Actualmente en proceso de formación en el Conservatorio del Tolima para la
                                obtención del título de Tecnólogo en Producción Audio-digital, con más de 10 años de
                                experiencia en la escena local y nacional, como productor, músico de sesión, maestro
                                independiente, director de agrupaciones y coordinador, formador y
                                gestor de proyectos institucionales y eventos independientes.</p>
                            <a href="https://www.instagram.com/johan_ostinato/" target="_blank" class="btn btn-primary btn-icon btn-round">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>